body {
    font-family: poppins, sans-serif
}

a {
    text-decoration: none;
    font-weight: 400
}

a:hover {
    text-decoration: none
}

.header-area {
    padding: 25px 0;
    background: #37517e
}

.header-menu ul {
    padding: 0;
    margin: 0
}

.header-menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    position: relative
}

.header-menu ul li a {
    color: #fff
}

.header-language-area a {
    color: #fff;
    margin-right: 25px
}

.header-btn a {
    color: #37517e;
    border: 1px solid #fff;
    padding: 13px 40px;
    background: #fff;
    border-radius: 5px
}

.header-login-link a {
    color: #fff;
    margin-right: 25px
}

.user-profile-img img {
    height: 45px;
    width: 45px;
    border-radius: 50px;
    object-fit: cover
}

.header-right-section-area {
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.header-menu ul li ul.sub {
    position: absolute;
    background: #fff;
    color: #222;
    width: 185px;
    top: 200%;
    transition: .3s;
    padding-top: 30px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 7px 5px 20px rgba(0, 41, 117, .12);
    z-index: 99999;
    padding-bottom: 30px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 5px
}

.header-language-area .dropdown-menu a {
    color: #37517e;
    font-size: 16px
}

.header-language-area .dropdown-menu {
    top: 10px !important
}

.user-profile-img .dropdown-menu {
    top: 15px !important
}

.user-profile-img .dropdown-menu a {
    color: #434d7b;
    font-size: 16px
}

.header-menu ul li:hover>ul.sub {
    opacity: 1;
    visibility: visible;
    top: 150%
}

.header-menu ul li ul.sub li ul.sub {
    left: 100%;
    top: 0
}

.header-menu ul li ul.sub li {
    margin: 0;
    display: block;
    margin-bottom: 14px
}

.header-menu ul li ul.sub li:hover>a {
    color: #97aef7
}

.header-menu ul li ul.sub>.header-menu ul li a i {
    display: block
}

.header-menu ul li:hover>a {
    color: #97aef7
}

.header-menu ul li ul.sub li:last-child {
    margin-bottom: 0
}

.header-menu ul li ul.sub li a {
    color: #37517e;
    padding: 0;
    font-size: 16px
}

.header-language-area a span {
    text-transform: uppercase
}

.header-area.fixed {
    position: absolute;
    left: 0;
    right: 0
}

.breadcrump-area {
    padding-top: 150px;
    padding-bottom: 100px;
    background: #37517e
}

.breadcrump-title h4 {
    color: #e2e2e2;
    font-size: 45px
}

.breadcrump-body {
    color: #dedbdb;
    font-size: 18px
}

.breadcrump-body a {
    color: #81b4fb
}

.hero-area {
    background: #37517e;
    padding-bottom: 150px
}

.slider-left-content {
    padding-top: 100px
}

.slider-left-content h2 {
    color: #fff;
    font-size: 37px;
    font-weight: 600;
    margin-bottom: 30px
}

.slider-left-content p {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px
}

.slider-video-link a {
    border: 1px solid #fff;
    color: #fff;
    padding: 15px 40px;
    border-radius: 5px;
    line-height: 60px
}

.slider-video-link a svg {
    font-size: 35px;
    margin-top: -3px
}

.payment-calculation {
    padding-top: 100px;
    float: right;
    width: 100%
}

.input-section {
    display: flex;
    align-items: center;
    width: 100%
}

.money-input-field input {
    height: 70px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    padding: 0 12px;
    padding-top: 26px;
    font-size: 21px;
    color: #37517e;
    width: 100%
}

.money-input-field {
    position: relative;
    width: 100%
}

.money-input-field span {
    position: absolute;
    left: 12px;
    top: 12px;
    color: #666;
    font-size: 15px
}

.money-input-field input:focus {
    outline: 0
}

.money-currency {
    height: 70px;
    display: flex;
    align-items: center;
    background: #253655ba;
    border-top-left-radius: 5px
}

.money-currency a {
    padding: 0 50px;
    color: #fff;
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center
}

.money-input-field input::placeholder {
    color: #a7a7a7
}

.money-currency a span {
    display: -webkit-box
}

.money-currency a img {
    margin-right: 10px
}

.calculation-menu ul li {
    position: relative;
    list-style: none;
    padding-top: 31px
}

.calculation-menu ul li:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 84px;
    top: 0;
    background: #253655;
    left: 0
}

.calculation-menu ul {
    padding-left: 15px
}

.calculation-menu ul li .charge {
    margin-left: 25px;
    min-width: 115px;
    color: #d4d4d4
}

.calculation-menu ul li span.icon-area {
    background: #253655;
    width: 25px;
    height: 25px;
    border-radius: 40px;
    position: absolute;
    left: -12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 999
}

span.calculation-divison {
    display: flex;
    align-items: center
}

span.calculation-payment-select select {
    background: #253655d1;
    border: none;
    color: #efefef;
    padding: 5px 13px;
    font-size: 14px;
    font-weight: 300;
    margin-right: 5px
}

span.calculation-payment-select select:focus {
    outline: 0
}

span.free {
    color: #d3d5d8
}

span.icon-area.mct-1 {
    margin-top: 2px
}

span.calculation-payment-select {
    font-size: 15px;
    color: #cacaca
}

.charge.text-rate {
    color: #00a4df !important
}

.charge.text-rate svg {
    color: #23ca8f
}

.input-section.recepiet {
    padding-top: 13px
}

.money-currency ul {
    background: #2a3d60;
    padding: 0 8px
}

.money-currency ul li {
    padding: 10px 0;
    border-bottom: 1px solid #1f2a3e
}

.money-currency ul li:last-child {
    border-bottom: none
}

.money-currency a:hover {
    background: 0 0;
    color: #fff
}

.calculation-checkout-btn {
    margin-top: 15px
}

.calculation-checkout-btn button {
    border: none;
    background: #5074b5;
    color: #fff;
    width: 100%;
    height: 65px;
    border-radius: 5px;
    font-size: 18px
}

.calculation-checkout-btn button:focus {
    outline: 0
}

.section-title h4 {
    font-size: 40px;
    color: #37517e;
    font-weight: 500
}

.section-des {
    color: #8694ad
}

.single-how-it-works {
    margin-top: 30px;
    box-shadow: 0 0 20px #ddd;
    padding: 50px 22px;
    border-radius: 10px
}

.single-how-it-works .img-section {
    margin-bottom: 20px
}

.single-how-it-works .title-section {
    color: #37517e;
    margin-bottom: 15px
}

.single-how-it-works .content-section {
    color: #889ab9
}

.single-how-it-works {
    margin-top: 30px;
    box-shadow: 0 0 44px #ddddddad;
    padding: 50px 22px;
    border-radius: 5px;
    background: #fff
}

.single-service {
    border: 1px solid #e1e1e1;
    padding: 50px 20px;
    border-radius: 5px;
    margin-top: 30px;
    transition: .4s
}

.single-service:hover {
    background: #37517e
}

.service-title {
    margin-bottom: 20px
}

.service-title h3 {
    color: #37517e
}

.single-service:hover .service-title h3 {
    color: #fff
}

.single-service:hover .service-des p {
    color: #e2e1e1
}

.service-des p {
    color: #607cab;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 20px
}

.service-action a {
    color: #37517e;
    font-weight: 600;
    font-size: 17px
}

.single-service:hover .service-action a {
    color: #fff
}

.service-icon {
    margin-bottom: 20px
}

.service-icon img {
    height: 64px;
    width: 64px !important
}

.service-area {
    background: #f0f8ff
}

.service-body p {
    font-size: 16px;
    color: #615d5d;
    line-height: 1.9
}

.service-img {
    margin-bottom: 25px
}

.service-img {
    margin-bottom: 25px
}

.service-title h3 {
    font-size: 35px
}

.counter-number p {
    margin-bottom: 0
}

.counter-number p {
    margin-bottom: 0
}

.counter-area {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #5074b570
}

.counter-number h2 {
    font-size: 40px;
    color: #37517e
}

.counter-number p {
    margin-bottom: 0;
    font-size: 21px;
    color: #37517e
}

.single-sponser {
    margin-top: 30px;
    box-shadow: 0 0 20px #ddd;
    border-radius: 5px;
    padding: 25px 0
}

.sponser-img {
    margin-bottom: 10px
}

.sponser-name h3 {
    color: #37517e;
    margin-bottom: 5px;
    font-weight: 600
}

.sponser-position p {
    color: #37517e;
    font-size: 17px
}

.sponser-social-links ul {
    margin: 0;
    padding: 0
}

.sponser-social-links ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px
}

.sponser-social-links ul li:last-child {
    margin-bottom: 0
}

.sponser-social-links ul li a {
    background: #37517e;
    color: #fff;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px
}

.single-feedback {
    margin-top: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 45px 25px
}

.feedback-user-img img {
    height: 90px;
    border-radius: 50px;
    width: 90px;
    object-fit: cover
}

.feedback-user-img {
    margin-bottom: 15px
}

.feedback-des p {
    color: #37517e;
    margin-bottom: 35px
}

.feedback-user-name h5 {
    color: #37517e;
    font-size: 30px
}

.feedback-user-position p {
    margin-bottom: 0;
    color: #51517e
}

.single-news {
    margin-top: 30px;
    box-shadow: 0 0 20px #ddd;
    border-radius: 5px
}

.news-img img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.news-content {
    padding: 25px
}

.news-content {
    padding: 25px 20px
}

.news-title h3 {
    color: #3751a7;
    margin-bottom: 15px;
    font-size: 23px;
    line-height: 1.4
}

.news-des p {
    color: #5e688a;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 15px
}

.news-action a {
    color: #3751a7;
    font-weight: 600
}

.blog-img img {
    border-radius: 10px
}

.blog-title {
    margin-top: 20px
}

.blog-title h3 {
    font-size: 32px;
    color: #37517e;
    margin-bottom: 15px
}

.blog-body {
    margin-top: 15px
}

.blog-body p {
    color: #666;
    font-size: 15px;
    line-height: 1.9
}

.blog-card {
    box-shadow: 0 0 20px #ddd;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 30px
}

.blog-card-header h3 {
    color: #37517e;
    font-size: 25px;
    margin-bottom: 15px
}

.blog-card-body input {
    width: 100%;
    height: 55px;
    padding: 0 15px;
    border: 1px solid #ddd;
    border-radius: 5px
}

.blog-card-body form {
    display: flex
}

.blog-card-body button {
    border: none;
    background: #37517e;
    border-radius: 5px;
    color: #fff;
    padding: 0 25px;
    margin-left: 10px
}

.blog-small-title h5 {
    font-size: 18px
}

.blog-small-img img {
    border-radius: 5px
}

.blog-small-title a {
    color: #37517e
}

.no-data-found p {
    font-size: 25px;
    color: #37517e
}

.blog-details .single-news {
    margin-top: 0
}

.user-img img {
    height: 80px;
    border-radius: 57px;
    width: 80px;
    object-fit: cover;
    margin-bottom: 11px
}

.dashboard-area {
    background: #f0f8ff
}

.sidebar-area {
    background: #fff;
    padding: 35px 0;
    border-radius: 5px
}

.user-name h3 {
    font-size: 21px;
    color: #37517e
}

.sidebar-top-content {
    margin-bottom: 30px
}

.slidebar-nav-area ul {
    padding-left: 0;
    margin: 0
}

.slidebar-nav-area ul li.nav-item {
    list-style: none;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .4s;
    position: relative
}

.slidebar-nav-area ul li.nav-item a {
    color: #37517e;
    display: flex;
    align-items: center
}

.slidebar-nav-area ul li.nav-item a svg {
    margin-right: 10px
}

.slidebar-nav-area ul li.nav-item.active {
    background: #37517eeb;
    border-left: 5px solid #0f3371
}

.slidebar-nav-area ul li.nav-item:hover {
    background: #37517eeb;
    border-left: 5px solid #0f3371
}

.slidebar-nav-area ul li.nav-item:hover a {
    color: #fff
}

.slidebar-nav-area ul li.nav-item.active a {
    color: #fff
}

.slidebar-nav-area ul li.nav-item a span.pull-right-container {
    position: absolute;
    right: 10px
}

.slidebar-nav-area ul li.nav-item.show ul.submenu {
    display: block
}

ul.submenu {
    padding: 0;
    margin: 0;
    padding-left: 25px;
    display: none;
    transition: .4s
}

ul.submenu li {
    list-style: none;
    padding-top: 10px
}

ul.submenu li a {
    font-size: 14px
}

.dashboard-area .header-section h4 {
    color: #37517e;
    margin-bottom: 15px
}

.single-card {
    margin-top: 15px;
    background: #fff;
    border-radius: 5px;
    padding: 15px
}

.count h4 {
    color: #37517e;
    font-size: 35px
}

.icon svg {
    color: #37517e;
    font-size: 45px
}

.icon {
    float: right
}

.balence-label p {
    margin-bottom: 0;
    color: #37517e;
    font-size: 18px
}

.balence-label {
    margin-top: 15px
}

.card {
    margin-top: 20px;
    border: none
}

.card-header {
    background: #fff
}

.card-header h5 {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 17px;
    color: #37517e
}

.card-header {
    padding: 18px 15px
}

.form-group label {
    color: #37517e;
    margin-bottom: 8px
}

.form-group input {
    height: 55px;
    padding: 0 15px
}

.form-group select {
    height: 55px;
    padding: 0 15px;
    cursor: pointer;
    color: #37517e
}

.form-group textarea {
    padding: 15px
}

.form-group input .form-control {
    padding: 0 20px;
    color: #37517e
}

.form-group .form-control::placeholder {
    color: #a7adb7bf;
    font-size: 15px
}

.form-group .form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: #ddd;
    color: #37517e
}

.form-group select:focus {
    outline: 0;
    box-shadow: none;
    border-color: #ddd;
    color: #37517e
}

.form-group {
    margin-bottom: 15px
}

.button-btn button {
    border: none;
    background: #37517e;
    color: #fff;
    padding: 13px 45px;
    border-radius: 5px;
    font-size: 18px
}

.custom {
    margin-top: 31px
}

.button-btn button:focus {
    outline: 0
}

table.table thead tr th {
    color: #37517e;
    font-weight: 500
}

table.table tbody tr td {
    padding: 15px 0
}

table.table thead {
    background: #efeff1
}

table.table thead tr th {
    padding: 15px 10px
}

table.table tbody tr td a.btn {
    color: #fff
}

tbody tr {
    vertical-align: middle
}

.table>:not(:last-child)>:last-child>* {
    border-bottom: none
}

table.table tbody tr td {
    padding: 15px 10px
}

.header-section h4 {
    font-size: 30px;
    margin-bottom: 30px
}

.login-section h6 {
    color: #37517e
}

.login-section label {
    color: #37517e
}

.forgot-password a {
    color: #37517e
}

.login-btn button {
    margin-top: 20px;
    border: none;
    background: #37517e;
    color: #fff;
    width: 100%;
    height: 55px;
    border-radius: 5px;
    font-size: 18px
}

.login-btn button:focus {
    outline: 0
}

.single-deposit {
    padding: 10px;
    background: #fff;
    border-radius: 5px
}

.deposit-img img {
    border-radius: 5px;
    margin-bottom: 10px
}

.deposit-name h3 {
    color: #37517e
}

.requirments-menu ul {
    margin: 0;
    padding: 0;
    margin-bottom: 10px
}

.requirments-menu ul li {
    list-style: none;
    color: #37517e;
    margin-bottom: 10px
}

.desposit-action a {
    background: #37517e;
    color: #fff;
    padding: 14px 35px;
    border-radius: 10px;
    line-height: 65px
}

.StripeElement {
    box-sizing: border-box;
    height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 18px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df
}

.StripeElement--invalid {
    border-color: #fa755a
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important
}

.payment-calculation #input {
    border: 1px solid transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.err {
    position: absolute;
    top: 94%;
    width: 100%;
    padding: 3px;
    margin: 0;
    z-index: 1;
    padding-left: 25px;
    border-radius: 0
}

.err:before {
    content: " ";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    left: 20px;
    top: -5px;
    transform: rotate(45deg);
    background-color: inherit
}

.loader img {
    position: absolute;
    left: 0;
    top: 0
}

.table-loader {
    position: relative
}

.table-loader img {
    top: 4rem;
    left: 50%;
    transform: translate(-50%)
}

.chat-box .chat-content {
    background-color: #f9f9f9 !important;
    height: 300px;
    overflow: hidden;
    padding-top: 25px !important
}

.chat-box .chat-content .chat-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px
}

.chat-box .chat-content .chat-item.chat-right img {
    float: right
}

.chat-box .chat-content .chat-item.chat-right .chat-details {
    margin-left: 0;
    margin-right: 70px;
    text-align: right
}

.chat-box .chat-content .chat-item.chat-right .chat-details .chat-text {
    text-align: left;
    background-color: #6777ef;
    color: #fff
}

.chat-box .chat-content .chat-item>img {
    float: left;
    width: 50px;
    border-radius: 50%
}

.chat-box .chat-content .chat-item .chat-details {
    margin-left: 70px
}

.chat-box .chat-content .chat-item .chat-details .chat-text {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .03);
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    width: auto;
    display: inline-block;
    font-size: 12px
}

.chat-box .chat-content .chat-item .chat-details .chat-text img {
    max-width: 100%;
    margin-bottom: 10px
}

.chat-box .chat-content .chat-item.chat-typing .chat-details .chat-text {
    background-image: url(../img/typing.svg);
    height: 40px;
    width: 60px;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat
}

.chat-box .chat-content .chat-item .chat-details .chat-time {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 500;
    opacity: .6
}

.chat-box .chat-form {
    padding: 0;
    position: relative
}

.chat-box .chat-form .form-control {
    border: none;
    padding: 15px;
    height: 50px;
    padding-right: 70px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: none;
    outline: none
}

.chat-box .chat-form .btn {
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -5px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .03)
}

.chat-box .chat-form .btn i {
    margin-left: 0
}

.support-time {
    font-size: 10px
}

.contact-title h3 {
    color: #37517e;
    font-size: 40px;
    font-weight: 600
}

.contact-title p {
    color: #37517e;
    font-size: 17px
}

.contact-title {
    margin-bottom: 45px
}

.contact-form label {
    color: #37517e
}

.contact-form textarea {
    height: 150px
}

.contact-form button {
    border: none;
    background: #37517e;
    color: #fff;
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 16px
}

.page-body img {
    border-radius: 10px;
    margin-bottom: 30px
}

.page-body p {
    color: #37517e;
    font-size: 15px;
    line-height: 1.9
}

.mobile-menu a {
    color: #fff;
    margin-right: 25px;
    border: 1px solid #fff;
    padding: 2px 13px;
    border-radius: 2px;
    font-size: 17px
}

.ecurrency-name h3 {
    font-size: 21px;
    color: #37517e;
    margin-bottom: 20px;
    font-weight: 600;
    margin-top: 20px
}

.modal-title {
    color: #37517e;
    font-size: 18px
}

.btn-statement a {
    padding: 15px 0
}

.button-btn a {
    background: #37517e;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px
}

img.support-author-img {
    width: 50px;
    height: 50px;
    border-radius: 33px;
    margin-right: 5px
}

.resend-otp {
    text-decoration: none;
    color: #37517e;
    font-weight: 500;
    font-size: 18px
}

.footer-area {
    background: #37517e;
    padding: 100px 0
}

.footer-logo img {
    margin-bottom: 30px
}

.footer-area.footer-demo-5 .agent-social-links ul li a {
    background: #6be1ad
}

.footer-area.footer-demo-5 .footer-newsletter-input button {
    background: #6be1ad
}

.footer-area.footer-demo-4 .agent-social-links ul li a {
    color: #1c2633;
    background: #fff
}

.footer-area.footer-demo-4 .footer-newsletter-input button {
    background: #1c2633;
    color: #fff
}

.footer-content p {
    color: #fff;
    font-size: 17px;
    line-height: 32px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(239, 240, 241, .1)
}

.footer-phone-number {
    color: #fff;
    display: flex;
    align-items: center
}

.footer-phone-icon svg {
    font-size: 45px;
    color: #ffa739
}

.footer-number p {
    margin-bottom: 0;
    color: #fff;
    font-weight: 600;
    font-size: 24px
}

.footer-phone-icon {
    margin-right: 10px
}

.footer-number span {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 0;
    font-weight: 300
}

.footer-menu-title h4 {
    color: #fff
}

.footer-menu-content ul {
    margin: 0;
    padding: 0
}

.footer-menu-content ul li a {
    color: #e0e0e0
}

.footer-menu-content ul li {
    margin-bottom: 20px;
    list-style: none
}

.agent-social-links ul {
    margin: 0;
    padding: 0
}

.agent-social-links ul li {
    display: inline-block;
    margin-right: 10px
}

.agent-social-links ul li:last-child {
    margin-right: 0
}

.footer-area.footer-demo-1 .agent-social-links ul li a {
    background: #fff;
    color: #274abb
}

.agent-social-links ul li a {
    padding: 12px 15px;
    border-radius: 30px
}

.footer-menu-title {
    margin-bottom: 30px
}

.footer-menu-content ul li:last-child {
    margin-bottom: 0
}

.footer-newsletter-input input {
    width: 100%;
    border: none;
    background: #fff;
    height: 60px;
    border-radius: 5px;
    padding: 0 25px;
    margin-bottom: 15px
}

.footer-newsletter-input button {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: #ffdead;
    background: #ffa739;
    color: #fff;
    font-size: 20px
}

.footer-newsletter-input input:focus {
    outline: 0
}

.footer-bottom-area {
    background: #2c4877;
    color: #fff;
    padding: 25px 0
}

.footer-bottom-content span a {
    color: #ffa739
}

.right-side-section a:hover {
    text-decoration: none
}

.footer-area.footer-demo-1 .agent-social-links ul li a {
    background: #fff;
    color: #274abb
}

.footer-area.footer-demo-1 .footer-newsletter-input button {
    background: #3867b5;
    color: #fff
}

.footer-bottom-area.footer-demo-1 .footer-bottom-content span a {
    color: #d0d0d0
}

